// 站点主色
$--theme: (
  nc--color-primary: #2093f7,
  mt--color-primary: #000000
);

@function setTheme($n){
  @return map-get($--theme, #{$n}--color-primary)
}

@mixin color-mixin($n) {
  a {
    color: mix(#fff, setTheme($n), 20%);
    &:focus,
    &:hover {
      color: setTheme($n);
    }
  }
  .el-button--primary {
    background-color: setTheme($n);
    border: 1px solid setTheme($n);
  }
  .captcha-btn {
    height: 40px;
    border: 0;
    background-color: setTheme($n)!important;
    color: #fff!important;
  }
  .el-checkbox__input.is-checked .el-checkbox__inner,
  .el-checkbox__input.is-indeterminate .el-checkbox__inner {
    border-color: setTheme($n);
    background-color: setTheme($n);
  }
  .el-checkbox__inner:hover {
    border-color: setTheme($n);
  }
  .el-checkbox__input.is-focus .el-checkbox__inner {
    border-color: setTheme($n);
  }
}

.site-wrapper--nc {
  @include color-mixin(nc);
}

.site-wrapper--mt {
  @include color-mixin(mt);
}
